@import 'vars'
// $blue = #11242f
// $secondary-blue = #B7BCBF
// $hover = #FFC328
// $transition-time = 0.2s
// $radius = 2px

.about
    .logo
        img
            width 70%
            margin auto
            display block
    p
        &.caption
            color $secondary-blue
            text-align center
