@import 'vars'

footer
  background-color $blue
  font-family 'Open Sans', sans-serif
  display table-row
  width 100%
  line-height 1.4em
  padding 20px
  float left

  .copyright
    float left
    margin-left 20px

    &:hover
      .footerLink
        color $hover

    p
      display inline-block
      color white
      clear left
      margin 1px
      float left

      &.footerLink
        font-size .8em
        font-weight 100
        color darken($secondary-blue, 30%)
        cursor pointer

        a
          color inherit

      img.icon
        height 30px
        margin-bottom -9px

  .links
    float right

    ul
      float left
      list-style-type none
      padding 0
      margin 0 20px

    li
      color white
      font-size

      &.footerLink
        font-size .8em
        font-weight 100
        color darken($secondary-blue, 30%)
        cursor pointer

        a
          color inherit

        &:hover
          color $hover