footer {
  background-color: #11242f;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  width: 100%;
  line-height: 1.4em;
  padding: 20px;
  float: left;
}
footer .copyright {
  float: left;
  margin-left: 20px;
}
footer .copyright:hover .footerLink {
  color: #ffc328;
}
footer .copyright p {
  display: inline-block;
  color: #fff;
  clear: left;
  margin: 1px;
  float: left;
}
footer .copyright p.footerLink {
  font-size: 0.8em;
  font-weight: 100;
  color: #7c858a;
  cursor: pointer;
}
footer .copyright p.footerLink a {
  color: inherit;
}
footer .copyright p img.icon {
  height: 30px;
  margin-bottom: -9px;
}
footer .links {
  float: right;
}
footer .links ul {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}
footer .links li {
  color: #fff;
}
footer .links li font-size,
footer .links li.footerLink {
  font-size: 0.8em;
  font-weight: 100;
  color: #7c858a;
  cursor: pointer;
}
footer .links li font-size a,
footer .links li.footerLink a {
  color: inherit;
}
footer .links li font-size:hover,
footer .links li.footerLink:hover {
  color: #ffc328;
}
