.form h1 {
  margin-top: 0;
}
.form input,
.form textarea {
  font-size: 0.8em;
  font-family: 'Lora', serif;
  display: inline-block;
  border: none;
  background: #f8f8f9;
  width: 100%;
  resize: none;
  padding: 1em;
  border-radius: 2px;
  outline: none;
  border: 1px solid transparent;
}
.form input:hover,
.form textarea:hover {
  background: #fbfcfc;
  border: 1px solid #f6f7f7;
}
.form ul {
  padding: 0;
  list-style-type: none;
}
.form ul li {
  margin-bottom: 5px;
}
.form textarea {
  float: left;
  margin-bottom: 5px;
}
.form .submit {
  background: #fff;
  margin: 2em initial 0;
  font-size: 1.3em;
  padding: 1em;
  cursor: pointer;
}
