.weeklytongue {
  background-color: #fff;
  padding: 80px 20px;
  width: 100%;
  margin: auto;
  max-width: 960px;
}
.weeklytongue a,
.weeklytongue aside {
  width: 20%;
  color: #b7bcbf;
  float: left;
}
.weeklytongue a {
  text-decoration: none;
  font-size: 29px;
  margin-top: 75px;
  display: inline-block;
}
.weeklytongue a:hover p {
  color: #ffc328;
}
.weeklytongue aside {
  float: right;
  margin-top: 83px;
}
.weeklytongue h1 {
  width: 60%;
  float: left;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
}
.weeklytongue img {
  width: inherit;
  margin-bottom: 40px;
}
.weeklytongue p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.4px;
}
.weeklytongue span {
  display: block;
  text-align: center;
  font-size: 1.8em;
}
.information h1 {
  margin: 0 auto 50px auto;
  text-align: center;
}
.information a {
  display: inline-block;
}
.information a:hover .triangle {
  border-color: transparent transparent transparent #ffc328;
}
.information a .triangle {
  position: relative;
  z-index: 2;
  top: -260px;
  width: 0;
  margin: auto;
  right: -50%;
  margin: -27px;
  height: 0;
  border-style: solid;
  border-width: 32.5px 0 32.5px 56.3px;
  border-color: transparent transparent transparent #fff;
}
.information a p {
  color: #b7bcbf;
  width: 100%;
  text-align: center;
  display: block;
}
.information a:hover p {
  color: #ffc328;
}
.information p {
  display: block;
}
