.team {
  display: inline-block;
}
.team h1:first-letter {
  font-size: 2.6em !important;
}
.team ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.team ul li {
  display: inline-block;
  width: 32.8%;
  margin: 30px 0;
}
.team ul li img {
  padding: 5px;
  margin-bottom: 15px;
}
.team ul li p {
  margin: 0 15px;
}
.team ul li p.country {
  font-size: 0.9em;
  color: #b7bcbf;
}
