@import 'vars'

.weeklytongue
    background-color #fff
    padding 80px 20px
    width 100%
    margin auto
    max-width 960px

    a, aside
        width 20%
        color $secondary-blue
        float left

    a
        text-decoration none
        font-size 29px
        margin-top 75px

        &:hover
            color $hover

    aside
        float right
        margin-top 83px

    h1
        width 60%
        float left
        text-align center
        font-weight 700
        font-size 3em

    img
        width inherit
        margin-bottom 40px

    p
        max-width 800px
        margin 20px auto
        font-size 1.2em
        line-height 1.5em
        letter-spacing 0.4px

    span
        display block
        text-align center
        font-size 1.8em

.information
    margin 60px 0
    h1
        margin 0 0 50px 0

    a
        p
            font-size 1em
            color $secondary-blue
            width 100%
            text-align center

            &:hover
                color $hover

    p
        font-size 1.2em
