.weeklytongue
    background-color #fff
    padding 80px 20px
    width 100%
    margin auto
    max-width 960px

    a, aside
        width 20%
        color $secondary-blue
        float left

    a
        text-decoration none
        font-size 29px
        margin-top 75px
        display inline-block

        &:hover
            p
                color $hover

    aside
        float right
        margin-top 83px

    h1
        width 60%
        float left
        text-align center
        font-weight 700
        font-size 3em

    img
        width inherit
        margin-bottom 40px

    p
        max-width 800px
        margin 20px auto
        font-size 1.2em
        line-height 1.5em
        letter-spacing 0.4px

    span
        display block
        text-align center
        font-size 1.8em

.information
    h1
        margin 0 auto 50px auto
        text-align center

    a
        display inline-block

        &:hover
            .triangle
                border-color transparent transparent transparent $hover

        .triangle
            position relative
            z-index 2
            top -260px
            width 0
            // width 0
            margin auto
            right -50%
            margin -27px
            height 0
            border-style solid
            border-width: 32.5px 0 32.5px 56.3px;
            border-color transparent transparent transparent #fff

        p
            // font-size 1em
            color $secondary-blue
            width 100%
            text-align center
            display block

        &:hover
            p
                color $hover

    p
        display block
        // font-size 1.2em

