@import 'vars'

.banner
    font-family 'Open Sans', sans-serif
    float left
    display inline-block
    width 100%

    img
        width 100%
        float left

    h1
        position absolute
        top 56px
        z-index 10
        width 100%
        color white
        margin 240px 0
        font-weight 700
        text-transform uppercase
        text-align center
        font-size 4em
        text-shadow 0 0 80px rgba(0,0,0,0.5)
