* {
  box-sizing: border-box;
  font-weight: 100;
  color: #11242f;
}
a {
  text-decoration: none;
  color: #11242f;
}
.hidden {
  display: none !important;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 56px;
}
.page {
  font-family: 'Lora', serif;
  font-size: 1.2em;
  max-width: 960px;
  margin: auto;
  padding: 30px;
  clear: both;
}
.page h1 {
  font-size: 2.4em;
}
.page img {
  border-radius: 2px;
  width: 100%;
}
.page p {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.5em;
  letter-spacing: 0.4px;
  clear: both;
}
.page p.quote {
  font-size: 1.7em;
  color: #b7bcbf;
  padding: 20px;
}
.page .drop:first-letter {
  float: left;
  color: #ffc328;
  font-size: 3em;
  line-height: 3px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  line-height: 0.9em;
}
