<section class="banner faq"></section>
<section class="page">
    <h1>Frequently Asked Questions</h1>
    <p></p>
    <ul>
      <li class="question">Can anyone submit a video?</li>
      <li class="answer">Everyone can submit a video, just go over to our  {{#link-to "submit"}}Submit page{{/link-to}}</li>
      <li class="question">Is there a minimum age to become involved?</li>
      <li class="answer">People under 18 years old are welcome to participate with proof of parental consent. People under 13 years old may become involved only under direct parental supervision.</li>
      <li class="question">Why do only some videos have translations?</li>
      <li class="answer">Though we do our best to provide transcriptions and translations to as many of our videos as possible, we don't always have means to provide them immediately upon launching new videos. As time goes by though, we do work on aquiring new translations and transcriptions and include them with the videos.</li>
      <li class="question">Can I send you a link to my Youtube channel?</li>
      <li class="answer">Though we'd love to watch your videos, only videos submitted to us as files can be used on our channel.</li>
      <li class="question">I'd like you to change the name of a video</li>
      <li class="answer">Videos are often named by their speakers. If you would like to challenge the name of a video, please  {{#link-to "contact"}}send us a message{{/link-to}} and we'll investigate your request.</li>
      <li class="question">Why is my language not represented on the project?</li>
      <li class="answer">We are working night and day to provide access to every language in the world. If your language or that of a friend or relative is not yet included, please {{#link-to "submit"}}send us a video{{/link-to}} of it, or at least {{#link-to "contact"}}a message{{/link-to}} letting us know.</li>
    </ul>
    {{!-- <ul class="activities">
      <li>
        {{#link-to "submit" classNames="subheaderLink" tagName="button"}}Submit a video{{/link-to}}
      </li>
      <li>
        {{#link-to "volunteer" classNames="subheaderLink" tagName="button"}}Volunteer{{/link-to}}
      </li>
      <li>
        {{#link-to "contact" classNames="subheaderLink" tagName="button"}}Contact{{/link-to}}
      </li>
    </ul> --}}
</section>