<section class="page form">
    <h1>Get involved</h1>
    <p>Wikitongues wouldn't be anywhere without our community of volunteers. If you believe in what we're doing, there's plenty of ways to get involved.</p>
    <ul class="activities">
      <li>
        {{#link-to "submit" classNames="subheaderLink"}}
          {{!-- <img src="img/1.png" alt="Submit a video"> --}}
          <p>Submit a video</p>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "volunteer" classNames="subheaderLink"}}
          {{!-- <img src="img/2.png" alt="Volunteer"> --}}
          <p>Volunteer</p>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "contact" classNames="subheaderLink"}}
          {{!-- <img src="img/3.png" alt="Contact"> --}}
          <p>Contact</p>
        {{/link-to}}
      </li>
    </ul>
</section>