{{#each}}
  <section class="banner">
      <img {{bind-attr src="image"}} alt="Wikitongues" class="fallback">
      <h1>{{text}}</h1>
  </section>
{{/each}}
{{about-subheader}}
<section class="page">
  <p class="drop"> We stand for the values of diversity and respect between the all the peoples of Earth.</p>
  <p>We stand for the rights of individuals and their communities to live where they live and to be who they are, thinking, speaking and acting freely.</p>
  <p>We pledge to forge connections across vast geographies, building bridges of understanding within and between cultures, and ensuring that every person has access to the breadth and the beauty of human experience.</p>
</section>