<nav>
    <div class="logo">
        <a href="index.html">
            <img src="img/horizontalLockup.svg" alt="Wikitongues">
        </a>
    </div>

    <ul class="top-nav">
        <li><a href="about.html">About</a></li>
        <li><a href="team.html">Team</a></li>
        <li><a href="expeditions.html">Expeditions</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="getInvolved.html">Get Involved</a></li>
    </ul>
</nav>