<section class="page poly">
  <section class="app">
    {{#each}}
    <nav class="top-navigation">
      <a href="#" title="Save">*</a>{{!--Save--}}
      <a href="#" title="Share">></a>{{!--Share--}}
      <a href="#" title="Embed">{ }</a>{{!--Embed--}}
      <a href="#" title="Location">!</a>{{!--Location--}}
      <a href="#" title="Settings">#</a>{{!--Settings--}}
    </nav>
    <section class="banner">
      <img {{bind-attr src="bannerUrl" alt="User"}} class="fallback">
    </section>
    <nav class="language-navigation">
      <h1 class="source"><a href="#">{{sourceName}}</a></h1>
      <a href="#" class="direction">></a>
      <h1 class="target"><a href="#">{{targetName}}</a></h1>
    </nav>
    <section class="phrases">
      {{!-- <p class="phrase-source"><a href="#">{{sourcePhrases}}</a></p> --}}
      <p class="phrase-source"><a href="#">Mba’éichapa.</a></p>
      <p class="phrase-target"><a href="#">Hello</a></p>
      <p class="phrase-source"><a href="#">Jajohecha peve.</a></p>
      <p class="phrase-target"><a href="#">Goodbye.</a></p>
      <p class="phrase-source"><a href="#">Mba’éichapa nderéra?</a></p>
      <p class="phrase-target"><a href="#">What is your name?</a></p>
      <p class="phrase-source"><a href="#">Cheréra …</a></p>
      <p class="phrase-target"><a href="#">My name is …</a></p>
      <p class="phrase-source"><a href="#">Reñe’ẽkuaápa inglyesñe’ẽme?</a></p>
      <p class="phrase-target"><a href="#">Do you speak English?</a></p>
      <p class="phrase-source"><a href="#">Reñe’ẽkuaápa karaiñe’ẽme?</a></p>
      <p class="phrase-target"><a href="#">Do you speak Spanish?</a></p>
      <p class="phrase-source"><a href="#">Héẽ.</a></p>
      <p class="phrase-target"><a href="#">Yes.</a></p>
      <p class="phrase-source"><a href="#">Nahániri.</a></p>
      <p class="phrase-target"><a href="#">No.</a></p>
      <p class="phrase-source"><a href="#">Aguyje.</a></p>
      <p class="phrase-target"><a href="#">Thank you.</a></p>
      <p class="phrase-source"><a href="#">Aguyjevete ndéve.</a></p>
      <p class="phrase-target"><a href="#">Thank you very much.</a></p>
      <button><a href="#">+</a></button>
    </section>
    {{/each}}
  </section>
</section>
