<section class="page watch">
  <input type="text" placeholder="Search for languages">
  <h1 class="videoName">Ladonna speaking <a href="#">Bislama</a> and <a href="#">Neverver</a></h1>
  <iframe width="900" height="506" src="//www.youtube.com/embed/RHJOlCbQbbU" frameborder="0" allowfullscreen></iframe>
  <p class="attribution">Recorded by <a href="#">Sarah Doyle</a></p>
  <div class="info">
    <div class="toggleTranslation transcription active">
      <a href="" class="toggleTranslationButton active">Transcription</a>
      <a href="" class="toggleTranslationButton">Translation</a>
      <br>
      <br>
      <br>
      <h3>Bislama</h3>
      <p>Ok, nem blo mi Ladonna, mi kamaot lo aelan blo Malakula, lo sentrel. Mi haf Malakula Paama, mami blo mi hemi kamaot lo Paama, dadi blo mi hemi kam lo Malakula be mifala beis nomo lo Malakula. Lo ples blo mifala lo malakula, ol man oli, olsem, olgeta nao oli powaful bitim ol woman lo Malakula lo ples blo mi, ol woman olgeta blo mekem kakae ol man olgeta blo ko lo garen mo lukaotem kakae mo ko lo solwota from mit.</p>
      <p>Lo ples blo mi, men kakae blo mifala we aelan kakae hemi banana. Olsem evri ples yu ko yu luk banana nao hemi men kakae blo mifala lo Malakula lo ples blo mi. </p>
      <p>Mi mi toktok langwis blo mi hemi kolled 'Neverver' mo mi toktok langwis langwis blo abu woman blo mi we hemi kamaot lo Uripif be menli nao mi toktok langwis blo dadi blo mi we jes abu woman we hemi kamaot lo Malakula be lo Lingara.</p>
      <p>Ok, naoia bae mi talem wan samting lo wan smol stori lo langwis blo mi.</p>

      <h3>Neverver</h3>
      <p>Lo... mamatnai eve jif vavetnai eve tikonan an jyoj nimpotnai e leleme, bumbutnai eve pasta eve fes pasta lo vilij nam lo presbeterien busman bei. Tatanai eve jif nindetnai eve me haosgel lo nakmaltnam</p>
      <p>Tenkiu.</p>
    </div>
    <div class="toggleTranslation translation">
      <h2>Translation</h2>
      <h3>English</h3>
      <p>Ok, my name is Ladonna and I'm from Central Malakula island. I'm Malakulan-Paamese -- my mum is from Paama and my dad is from Malakula but we're based in Malakula.  In our village in Malakula, men are more powerful than women.  Women work to make food and men go to the garden to look for food, and also the sea to catch fish.</p>
      <p>In my village, our main island food that we eat is banana. Everywhere that you go you'll see banana as it's the main food in our village in Malakula. </p>
      <p>I speak my language that is called 'Neverver' and I also speak my grandmother's language -- she's from Uripiv -- but mainly I just speak my dad's language, from my grandmother that comes from Lingara in Malakula.</p>
      <p>Ok, now I'm going to say something... a story in my language. </p>
      <p>My dad is a chief, my aunt is a church leader and my grandma is short, and my grandpa is a pastor and the first pastor at the Presbyterian Church in Bushman Bay.  So my dad is a chief and my mum is a housewife.</p>
    </div>
  </div>
  <div class="academic">
    <h2>Details</h2>
    <p>Recorded in: <a href="#">Vanuatu</a></p>
    <p>Uploaded in: <a href="#">Vanuatu</a></p>
    <h3>Bislama</h3>
    <p>Family: <a href="#">Indo-European</a></p>
    <p>Writing: <a href="#">Latin</a></p>
    <br>
    <h3>Neverver</h3>
    <p>Family: <a href="#">Indo-European</a></p>
    <p>Writing: <a href="#">Latin</a></p>
  </div>
</section>