ul
  max-width 800px
  margin auto !important

  li
    &.question
      clear both

    &.answer
      font-size .9em
      line-height 1.5em
      color $secondary-blue
      margin-bottom 1.3em

      a
        text-link()