.form
  padding-bottom 10em !important
  
  .contact-form
    
    input
      
      &:first-child
        margin-bottom 6px

  p
    float left

  .secondaryLink
    cursor pointer

  input, textarea, label, button
    font-size 0.8em
    font-family 'Lora', serif
    display inline-block
    border none
    background lighten($secondary-blue, 90%)
    width 100%
    resize none
    padding 1em 1em
    border-radius 2px
    outline none
    border 1px solid transparent

    &:hover
      background lighten($secondary-blue, 95%)
      border 1px solid lighten($secondary-blue, 88%)

  ul
    width 100%
    display inline-block
    padding 0
    list-style-type none

    li
      display inline-block
      width 100%
      margin-bottom 5px
      float left

      &.checkbox
        background lighten($secondary-blue, 90%)
        border-radius 2px

        input[type=checkbox]
          width 3%
          float left
          margin 23px 0 0 2%

        label
          background none
          width 95%
          padding-left 0.5em
          float right
          color #A9A9A9
          cursor pointer

        input[type=checkbox]:checked + label
          color $blue

  textarea
    min-height 150px
    float left

  .submit
    background #fff
    margin 2em initial 0
    font-size 1.3em
    padding 1em
    cursor pointer
    text-align center
    background lighten($blue, 95%)
    border 1px solid lighten($blue, 92%)

    &:hover
      background lighten($blue, 90%)
      border 1px solid lighten($blue, 89%)

  .alt-email
    font-size .8em
    color $secondary-blue
    text-align center
    margin 3em 0
    max-width 100%