.form
  padding-bottom 10em !important

  p
    float left
    // clear both

  input, textarea, label
    font-size 0.8em
    font-family 'Lora', serif
    display inline-block
    border none
    background lighten($secondary-blue, 90%)
    width 100%
    resize none
    padding 1em
    border-radius 2px
    outline none
    border 1px solid transparent

    &:hover
      background lighten($secondary-blue, 95%)
      border 1px solid lighten($secondary-blue, 88%)

  ul
    width 100%
    display inline-block
    padding 0
    list-style-type none

    li
      display inline-block
      width 100%
      margin-bottom 5px
      float left

      label
        color #A9A9A9
        cursor pointer

        input
          float left
          width initial
          margin 5px 0.5em 0 0

  textarea
    float left

  .submit
    background #fff
    margin 2em initial 0
    font-size 1.3em
    padding 1em
    cursor pointer
    text-align center