.guidelines, .termsOfService
  display none

  .page
    display inline-block
    font-size 67.5%
    background #eee !important

    button
      cursor pointer

      &:hover
        color $hover

    h1
      float left

    button
      float right
      width initial



  p, h4, li
    clear both

  ul
    li
      h4
        font-size 1.5em
        margin-bottom 0em

      p
        margin .7em 0

  ol
    display inline-block

    li
      display list-item
      margin 1em 0
      line-height 1.8em
