.page.poly
  background #fafafa
  width 100% !important
  max-width 100% !important

  .app
    border-radius $radius
    background #f4f4f4
    border 1px solid #e8e8e8
    margin 20px  auto
    width 350px
    height 600px
    overflow-x hidden
    overflow-y scroll
    box-shadow 0 5px 4px 1px rgba(0,0,0,.1)

    section.banner
      border none
      height 200px
      width 100%

      &:hover
        height 210px
        transition height ease-in-out 2*$transition-time

        img
          margin-top -30%
          transition margin-top ease-in-out 2*$transition-time

        img
          margin-top -20%

    nav
      width 100%
      position initial
      top initial
      background #fff

      &.top-navigation
        margin-top -33px
        height 40px

        &:hover
          margin-top 0

        a
          padding 11px
          height 40px
          width 40px
          text-align center
          display block
          float left
          color $blue

          &:hover
            background lighten($hover, 40%)

      &.language-navigation
        border-bottom 3px solid darken(#F4F4F4, 4%)

        &.sticky
          h1
            font-size 0.8em

          a.direction
            font-size 0.7em
            margin-top 3px
            padding 4px
            height 18px
            width 18px

        a.direction
          // background $hover
          // color #fff
          color $hover
          width 6%
          float left
          font-size 1.8em
          font-weight bold
          text-align center
          height 22px
          padding 0
          line-height 1.1em
          border-radius 100%
          font-size 1.4em
          margin-top 0.7em

        h1
          width 47%
          float left
          margin 0
          font-size 1.6em

          a
            height 100%
            padding .4em .8em
            display block
            text-transform capitalize

    .phrases
      display inline-block
      padding .5em 0 0 0
      width 100%
      font-family 'Open Sans',helvetica,sans-serif

      ul
        display inline-block
        width 100%

        li
          width inherit
          float left
          padding .6em 0
          border-color lighten($blue, 89%)

          &:hover
            background lighten($blue, 92%)
            border-top 3px solid lighten($blue, 89%)
            border-bottom 3px solid lighten($blue, 89%)

          p
            clear both
            width 100%
            margin 0

            &.phrase-source
              float left
              padding 0 0.5em
              margin-bottom .1em

              a
                background #BCDBFE
                border-radius 51px 51px 51px 0
                border 1px solid transparent

                &:hover
                  background lighten(#BCDBFE, 6%)
                  border-color darken(#BCDBFE, 3%)

            &.phrase-target
              float right
              text-align right
              padding 0 0.5em

              a
                background lighten($secondary-blue, 25%)
                border-radius 51px 51px 0 51px
                border 1px solid transparent

                &:hover
                  background lighten($secondary-blue, 31%)
                  border-color lighten($secondary-blue, 18%)

            a
              padding .5em .8em
              font-size .75em

              &:hover
                color $blue !important

      button
        background none
        border none
        width 100%
        font-size 1em
        height 2.5em
        float left
        padding 0

        a
          height 40px
          width 40px
          padding 4px 13px 8px
          border-radius 100%
          margin 0 auto
          display block
          color $hover
          background #fff
          box-shadow 0 5px 4px 1px rgba(0,0,0,.1)

          &:hover
            box-shadow 0 5px 4px 1px rgba(0,0,0,.2)
            background lighten($hover, 40%)
            color $blue
